@import './effects.scss';
@import './mixins.scss';
@import './helpers.scss';

body {
  font-size: 16px;
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none !important;
}

.q-loading {
  opacity: 0.4;
}

.q-dialog__inner--minimized > div {
  max-height: calc(100vh - 48px) !important;
}

.button-switch {
  min-height: 32px;
  height: 32px;
  padding: 0 8px;
  font-size: 15px;
}

.button--active {
  --angle: 0deg;
  border: 2px solid;
  border-image: conic-gradient(from var(--angle), rgb(255, 123, 0), yellow, lime, aqua, rgb(143, 143, 255), magenta, rgb(255, 123, 0)) 1;

  animation: 5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
