@import './effects.scss';
@import './mixins.scss';
@import './helpers.scss';

body {
  font-size: 16px;
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none !important;
}

.q-loading {
  opacity: 0.4;
}

.q-dialog__inner--minimized > div {
  max-height: calc(100vh - 48px) !important;
}

.button-switch {
  min-height: 32px;
  height: 32px;
  padding: 0 8px;
  font-size: 15px;
}

.button--active {
  box-shadow: 0 0 10px #fff;
}
